### Temp files ###
nohup.out
*.[oa]
*.pyc
*.*~
*.s
*.swp
cscope.out


### CLion project files ###
*.tgz
.idea/

### Firmware files ###
openchronos.elf
openchronos.txt

### Build directories ###
doc
build
_build
cmake-build-debug

### make artifacts ###
config.h
modinit.c
drivers/rtca_now.h
output.map
openchronos.dep
openchronos.dep.bak
openchronos.cflags
